MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster>/<db_name>?retryWrites=true&w=majority
MONGODB_DB_NAME=internship

AUTH_SECRET=replace_with_long_random_secret
GOOGLE_CLIENT_ID=replace_with_google_client_id
GOOGLE_CLIENT_SECRET=replace_with_google_client_secret

CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_api_key
CLOUDINARY_API_SECRET=replace_with_api_secret

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
